# Настройки приложения
APP_NAME=delivery-app
DEBUG=false

# Настройки базы данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=delivery_app
DB_ECHO=false
DB_POOL_SIZE=50

# Настройки API
API_V1_PREFIX=/api/v1

# Настройки CORS
CORS_ORIGINS=["http://localhost:8000"]
CORS_CREDENTIALS=true
CORS_METHODS=["*"]
CORS_HEADERS=["*"]
